.education {
    min-height: 100vh;
}

.education_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: hsla(117, 56%, 49%, 0.702);
}

.education_description {
    width: 100%;
    flex: 0.65;
    padding: 2rem;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.education_description > h1{
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    margin-bottom: 2rem;
}

.education_card {
    width: 90%;
    height: 160px;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    transition: background-color 200ms ease-in-out;
    border: 1px solid red
}

.educard_img {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
}

.educard_img > img {
    width: 40px;
}

.education_details{
    margin-left: 0.6rem;
}

.education_details > h6 {
    font-family: var(--primaryFont);
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.education_details > h4 {
    font-family: var(--primaryFont);
    font-size: 1.225rem;
    font-weight: 600;
}

.education_details > h5 {
    font-family: var(--primaryFont);
    font-size: 1.15rem;
    font-weight: 600;
}

.education_image {
    box-sizing: border-box;
    padding: 1rem;
    flex: 0.35;
    margin-top: 1rem;
    pointer-events: none;
}

.education_image > img {
    width: 100%;
}


@media screen and (max-width: 992px) {
    .education {
        min-height: 100%;
    }
    .education_image {
        display: none;
    }
    .education_description {
        flex: 1;
        margin: auto;
    }    
    .education_description > h1{
        font-size: 3.2rem;
    }
    .education_card {
        width: 100%;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 800px) {
    .education_description > h1{
        font-size: 3rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    .education_description {
        padding: 1rem;
    }
    .education_card {
        padding: 1rem;
        margin-bottom: 1.5rem;
        height: 130px;
    }
    .educard_img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
    }
    
    .educard_img > img {
        width: 30px;
    }
    .education_details > h6 {
        font-size: 0.85rem;
        margin-bottom: 0.45rem;
    }
    
    .education_details > h4 {
        font-size: 1.125rem;
        line-height: 126%;
    }
    
    .education_details > h5 {
        font-size: 1.05rem;
        line-height: 126%;
    }
}

@media screen and (max-width: 600px) {
    .education_description > h1{
        font-size: 2.5rem;
    }
}