.navbar {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    z-index: 99;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
    margin-top: 1rem;
}

.navbar_container > h1 {
    font-family: 'BestermindRegular';
    color: var(--primary-2);
    font-size: 2.5rem;
    user-select: none;
}

.navLink_container {
    margin-top: 5rem;
}

.drawer > .MuiBackdrop_root {
    background: rgba(33, 33, 33, 0.15) !important;
    backdrop-filter: blur(20px) !important;
}


@media (max-width:1100px) {
    .navbar_container{
        padding: 0 2rem;
    }
    .navbar_container > h1{
        font-size: 2.2rem;
    }
    .nav_menu{
        font-size: 2.2rem;
        margin-top: -1.5rem;
    }
}

@media (max-width:800px) {
    .navLink_container {
        margin-top: 3rem;
    }
}

@media (max-width:600px) {
    .nav_menu{
        color: var(--primary-2);
    }
    .navbar_container > h1{
        font-size: 2rem;
    }
    .nav_menu:hover{
        color: var(--primary-2);
    }
    .MuiDrawer_paper{
      border-radius: 0 !important;
    }
}