.contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.contacts_img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 280px;
    pointer-events: none;
}

.contacts_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 6rem 3rem;
    width: 80%;
    height: 100%;
    margin-top: 2rem;
}

.contacts_container > h1 {
    font-family: var(--primaryFont);
    font-size: 3.5rem;
    margin-bottom: 2.5rem;

}

.contacts_body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.contacts_form {
    display: flex;
    flex: 0.4;
    width: 100%;
}

.contacts_form form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.input_container {
    width: 100%;
}

.form_input {
    height: 50px;
    box-sizing: border-box;
    border-radius: 50px; 
    outline: none;
    margin-bottom: 2rem;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;
    width: 100%; 
    resize: none;
}

.form_message {
    height: 150px;
    box-sizing: border-box;
    border-radius: 50px; 
    outline: none;
    margin-bottom: 2rem;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;
    width: 100%;
    resize: none;
}

.submit_btn button {
    border: none;
    outline: none;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.submit_btn button p {
    font-size: 16px;
    font-family: var(--primaryFont);
}

.submit_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.send_icon {
    font-size: 25px;
    transform-origin: center;
    transform: translate(5px,-3px) rotate(-30deg);
}

.success_icon {
    font-size: 28px;
    transition: all 0.3s 0.8s ease-in-out;
}

.contacts_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.6;
    box-sizing: border-box;
    padding-left: 7rem;
    margin-top: 1.2rem;
}

.personal_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2.5rem;
}

.personal_details p {
    margin-left: 1.5rem;
    font-size: 18px;
    line-height: 110%;
    font-weight: 500;
    font-family: var(--primaryFont);
    width: 45%;
    word-break: break-word;
}

.socialmedia_icons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4rem;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .contacts_img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 240px;
    }
    .contacts_container {
        padding: 2rem 4rem;
        width: 90%;
        margin-top: 1rem;
    }
}


@media screen and (max-width: 992px) {
    .contacts_img {
        display: none;
    }
    .contacts_container {
        width: 100%;
        margin-top: 1rem;
    }
    .contacts_container > h1 {
        font-size: 3rem;
        margin: 0 0 1.2rem 0;
    }
    .contacts_details {
        padding-left: 4rem;
    }
    .personal_details p {
        margin-left: 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .contacts_container h1 {
        font-size: 3rem;
        margin-bottom: 30px;
    }
    .contacts_container {
        padding: 2rem;
        margin-top: 0rem;
        align-items: center;
    }
    .contacts_body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contacts_form {
        display: flex;
        flex: 1;
        width: 80%;
    }
    
    .form_input {
        margin-bottom: 0.45rem;
    }
    .contacts_form form {
        align-items: flex-end;
    }
    .contacts_details {
        padding-left: 0rem;
        padding: 1rem;
        align-items: center;
        margin-top: 2rem;
    }
    .socialmedia_icons {
        width: 100%;
        gap: 1.5rem;
        margin-top: 2rem;
    }
    .personal_details {
        margin-bottom: 1.8rem;
    }
    .personal_details p {
        margin-left: 1.2rem;
        width: 95%;
    }
}

@media screen and (max-width: 600px) {
    .contacts_form {
        display: flex;
        flex: 1;
        width: 100%;
    }
    .contacts_container h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}


@keyframes spin{
    0%{
        opacity: 1;
        transform: translate(5px,-3px) rotate(0deg);
    }
    100%{
      transform: rotate(359deg);
    }
  }

  @keyframes fly{
    10%{
        transform: rotate(0deg);
        }
        20%{
        transform: translateX(-10px);    
        }
        70%{
          transform: translateX(60px);
        }
        100%{
            transform: translateX(80px);
        }
  }